<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
	Address: 
	<li>2005 S 5th St.</li>
	<li>Austin, TX 78704</li>
	Today is <%= Time.now.strftime('%A') %>.

	Read more at:
	<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	sample application.
</p>