<div class="center hero-unit">

	<h1>Hi Baby Bear, Welcome to my Sample App</h1>

	<h2>
		<p>
		Probably doesn't seem like much but a lot has gone
		into getting it this far.

		Here's the concert we are going to tonight...can't wait...
		<a href="http://acltv.com/mentioned-artist/grizzly-bear/">ACL ARTIST: GRIZZLY BEAR..GRR!!</a>
		I sure love you - the only girl I will love all my life!
		</p>
	</h2>

	<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

