<footer class="footer">
	<small>
		<a href="http://orrrick.com/">Rick Blog</a>
		by Rick Orr
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://orrrick.com/">Blog</a></li>
		</ul>
	</nav>
</footer>